@import url("https://use.typekit.net/mds1mqt.css");
  
.taker-view {
    background-color: #0A0A0A;
    display: flex;
    height: 100vh;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    
    /* padding: 80px 115px 0px; */
}

.header-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-width: 1000px;

    /* margin-bottom: 40px; */
}

.header-name {
    font-family: 'futura-pt', sans-serif;
    font-size: 1.375rem;
    color: #F6931A;
}

.wid-20 {
    width: 20px;
}