@import url("https://use.typekit.net/mds1mqt.css");

/* * {
    background-color: black;
    color: white;
} */

div .mypage-view {
    background-color: black;
    color: white;
    padding: 71px 234px 234px 234px;
}

.mypage-view h1 {
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 22px; 
    font-style: normal; 
    font-weight: 700;
    margin-bottom: 47px;

}


h2 {
    font-size: 24px;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 4px;
}

p {
    color: #818181;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-top: 0%;
}

.user-profit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.balance {
    display: flex;
    margin-right: 360px;
}

.flex-col {
    flex-direction: column;
}

.balance h1 {
    font-family: futura-pt, sans-serif;
    font-size: 20px;
    font-weight: 'bold';
    margin-bottom: 0%;
}

.balance h2 {
    font-family: futura-pt, sans-serif;
    font-size: 34px;
    font-weight: 'bold';
    margin-bottom: 0%;
}

.section-bottom {
    margin-top: 14px;
}

.section-bottom h2 {
    font-size: 20px;
}

.charts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.user-profit {
    display: flex;
}

.section-right h2 {
    font-size: 20px;
}

.taker-profit {
    margin-top: 200px;
}

.taker-profit h1{
    margin-bottom: 0%;
}

.taker-profit .balance {
    display: inline-flex;
    align-items: flex-start;
    margin-top: 33px;
}

.section-right {
    margin-left: 100px;
}

.font-red {
    color: #FF0000;
}
 